### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
Total_Schools = len(school_data_complete["school_name"].unique())
print(Total_Schools)

Total_Students = len(school_data_complete["Student ID"].unique())
print(Total_Students)

Total_Budget = round(school_data["budget"].sum(),2)
print(Total_Budget)

Average_MathScore = round(student_data["math_score"].mean(),6)
print(Average_MathScore)

Average_ReadingScore = round(student_data["reading_score"].mean(),5)
print(Average_ReadingScore)

Passing_Math_df = student_data.loc[student_data["math_score"] >= 70,:]
Passing_Math = (Passing_Math_df["Student ID"].count() / Total_Students)
print(Passing_Math)

Passing_Reading_df = student_data.loc[student_data["reading_score"] >= 70,:]
Passing_Reading = (Passing_Reading_df["Student ID"].count() / Total_Students)
print(Passing_Reading)

Passing_Overall_df = student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70),:]   
Passing_Overall = (Passing_Overall_df["Student ID"].count() / Total_Students)
print(Passing_Overall)

15
39170
24649428
78.985371
81.87784
0.749808526933878
0.8580546336482001
0.6517232575950983

In [3]:
District_Summary_df = pd.DataFrame({
    "Total Schools":  [Total_Schools],
    "Total Students":  [Total_Students],
    "Total Budget":  [Total_Budget],
    "Average Math Score":  [Average_MathScore],
    "Average Reading Score":  [Average_ReadingScore],
    "% Passing Math":  [Passing_Math],
    "% Passing Reading":  [Passing_Reading],
    "% Overall Passing":  [Passing_Overall]
})

District_Summary_df["Total Budget"] = District_Summary_df["Total Budget"].map("${:,.2f}".format)

District_Summary_df["% Passing Math"] = (District_Summary_df["% Passing Math"]*100).map("{:,.6f}".format)
District_Summary_df["% Passing Reading"] = (District_Summary_df["% Passing Reading"]*100).map("{:,.6f}".format)
District_Summary_df["% Overall Passing"] = (District_Summary_df["% Overall Passing"]*100).map("{:,.6f}".format)

District_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [101]:
Pre_Index_df = pd.DataFrame({
                                "school_name": [],
                                "School Type": [],
                                "Total Students": [],
                                "Total School Budget": [],
                                "Per Student Budget": [],
                                "Average Math Score": [],
                                "Average Reading Score": [],
                                "% Passing Math": [],
                                "% Passing Reading": [],
                                "% Overall Passing": []
})

Pre_Index_df

Empty DataFrame
Columns: [school_name, School Type, Total Students, Total School Budget, Per Student Budget, Average Math Score, Average Reading Score, % Passing Math, % Passing Reading, % Overall Passing]
Index: []

In [102]:
for school in school_data["school_name"]:
    
    #print(school)
    
    School_Type_df = school_data_complete.loc[(school_data_complete["school_name"] == school),:]
    School_Type = School_Type_df["type"].unique()
    #print(School_Type)
    
    Students_PerSchool_df = school_data_complete.loc[(student_data["school_name"] == school),:]
    Students_PerSchool = len(Students_PerSchool_df["Student ID"].unique())
    #print(Students_PerSchool)
    
    Budgets_PerSchool_df = school_data_complete.loc[(student_data["school_name"] == school),:]
    Budgets_PerSchool = Budgets_PerSchool_df["budget"].sum()/Students_PerSchool
    #print(Budgets_PerSchool)    
    
    Budgets_PerStudent_df = school_data_complete.loc[(student_data["school_name"] == school),:]
    Budgets_PerStudent = Budgets_PerSchool/Students_PerSchool
    #print(Budgets_PerStudent)
    
    Average_PerSchool_MathScore_df = student_data.loc[(student_data["school_name"] == school),:]
    Average_PerSchool_MathScore = round(Average_PerSchool_MathScore_df["math_score"].mean(),6)
    #print(Average_PerSchool_MathScore)
    
    Average_PerSchool_ReadingScore_df = student_data.loc[(student_data["school_name"] == school),:]
    Average_PerSchool_ReadingScore = round(Average_PerSchool_ReadingScore_df["reading_score"].mean(),6)
    #print(Average_PerSchool_ReadingScore)
    
    Passing_Math_PerSchool_df = student_data.loc[(student_data["school_name"] == school) & (student_data["math_score"] >= 70),:]
    Passing_Math_PerSchool = (Passing_Math_PerSchool_df["Student ID"].count() / Students_PerSchool)
    #print(Passing_Math_PerSchool)

    Passing_Reading_PerSchool_df = student_data.loc[(student_data["school_name"] == school) & (student_data["reading_score"] >= 70),:]
    Passing_Reading_PerSchool = (Passing_Reading_PerSchool_df["Student ID"].count() / Students_PerSchool)
    #print(Passing_Reading_PerSchool)

    Passing_Overall_PerSchool_df = student_data.loc[(student_data["school_name"] == school) & (student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70),:]   
    Passing_Overall_PerSchool = (Passing_Overall_PerSchool_df["Student ID"].count() / Students_PerSchool)
    #print(Passing_Overall_PerSchool)
    
    to_append = [school, School_Type, Students_PerSchool, Budgets_PerSchool, Budgets_PerStudent,
                Average_PerSchool_MathScore, Average_PerSchool_ReadingScore,
                Passing_Math_PerSchool, Passing_Reading_PerSchool, Passing_Overall_PerSchool]
    
    series = pd.Series(to_append, index = Pre_Index_df.columns)
    
    Pre_Index_df = Pre_Index_df.append(series, ignore_index=True)

School_Summary_df = Pre_Index_df.sort_values("school_name", ascending=True).set_index(["school_name"])
School_Summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976.0,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,[Charter],1858.0,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,[District],2949.0,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,[District],2739.0,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,[Charter],1468.0,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,[District],4635.0,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,[Charter],427.0,248087.0,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,[District],2917.0,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,[District],4761.0,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,[Charter],962.0,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,[District],3999.0,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,[Charter],1761.0,1056600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,[Charter],1635.0,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,[Charter],2283.0,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,[Charter],1800.0,1049400.0,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [103]:
Best_Overall_df = School_Summary_df.sort_values("% Overall Passing", ascending=False)
Best_Overall_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858.0,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,[Charter],1635.0,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,[Charter],1468.0,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,[Charter],2283.0,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,[Charter],962.0,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [104]:
Worst_Overall_df = School_Summary_df.sort_values("% Overall Passing", ascending=True)
Worst_Overall_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999.0,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,[District],2949.0,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,[District],2917.0,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,[District],4635.0,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,[District],4761.0,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type